body{
    background-color:black;
    color:white;
}

.app {
    margin:auto;
    left:50%;
    top:50%;
    height:500px;                   /* text area height */
    width:300px;                   /* text area width */
    text-align:center;
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */

}